# Python cache
__pycache__/
*.pyc

# uploaded documents
data/uploads/

# Virtual environment
.venv/

# VS Code
.vscode/

# Environment variables
.env

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

